/* desktop - below 1366px */

@media (max-width: 85.375em) {
  html {
    font-size: 90%;
  }

  .icons-container {
    top: 2.3rem;
    right: 2.8rem;
  }

  .icon-size {
    font-size: 1.2rem;
    line-height: 0.04167em;
    vertical-align: -0.125em;
  }

  .card {
    height: 27rem;
  }

  .card-container {
    gap: 5rem;
  }

  .card > h1 {
    font-size: 1.5rem;
  }

  .card > p {
    font-size: 0.9rem;
  }

  /* .main-container > button {
    font-size: 2rem;
  } */
}

/* landscape tablets - below 1200px */
@media (max-width: 75em) {
  html {
    font-size: 70%;
  }
}

/* tablets - below 944px */
@media (max-width: 59em) {
  html {
    font-size: 60%;
  }
}
