* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444;
  height: 100vh;
  background-size: cover;
  background: rgb(231, 121, 223);
  background: linear-gradient(
    90deg,
    rgba(231, 121, 223, 1) 20%,
    rgba(255, 247, 0, 0.74) 100%
  );
}

header {
  background-color: #ffffff;
  padding: 2rem;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 75%;
}
.nav-link-list {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

li:nth-child(1) {
  margin-left: 5rem;
}
.nav-links {
  color: #333;

  font-size: 1.6rem;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  color: #cf7115;
}

.icons-container {
}

.icon-size {
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 0.04167em;
  vertical-align: -0.125em;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  color: #333;
}

.icon-mobile-nav[class~='fa-x'] {
  display: none;
}

.hero-container-box {
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  background-image: url('img1.jpg');
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.header-container-inner {
  padding: 2rem;
  width: 50%;
  background-color: rgba(197, 89, 89, 0.6);
}

.header-container-inner > h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 25px;
  line-height: 1.05;
}

.header-container-inner > p {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.main-container > h1 {
  padding: 1rem;
  color: #ffffff;
  font-size: 4rem;
}

.main-container > button {
  margin: 4rem 0;
  padding: 0.8rem;
  font-size: 2.5rem;
  width: 12.5rem;
  height: 6.25rem;

  background-color: rgba(240, 222, 238, 0.37);

  border-radius: 50px;
  border: none;
}

.card-container {
  margin-top: 8rem;

  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.card {
  background: white;
  height: 30rem;
  width: auto;
  padding: 1rem;

  overflow: hidden;

  border-top-right-radius: 4.68rem;
  border-bottom-left-radius: 4.68rem;
}

.card-img {
  display: block;
  /* background-image: url('img4.jpg'); */
  background-size: cover;
  background-position: center;

  height: 75%;
  width: 100%;
  object-fit: cover;

  border-top-right-radius: 4.68rem;
}

.card > h1 {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.card > p {
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.shadow {
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}

.hidden {
  display: none;
}
